@use "../gutenberg-config";

/* Defaults
   ========================================================================== */

body,
html {

  @media screen and (min-width: 40em) {
    margin: 0;
    width: 100%;
    max-width: none;
  }

}

// Font defaults
html {
  box-sizing: border-box;
}

// Line-height & margin reset
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  margin: 0;
}
