@use "../gutenberg-config";

article {
  display: block;
  margin: 0 auto;
  width: 80%;

  @media screen and (min-width: #{ gutenberg-config.$max-width + 5 + 'em'}) {
    max-width: #{1.5 * gutenberg-config.$max-width * gutenberg-config.$base-desktop + 'px'};
    max-width: #{1.5 * gutenberg-config.$max-width + 'rem'};
  }

}
