// Contain overflow in all browsers.
pre {
  overflow: auto;
}

// Address odd `em`-unit font size rendering in all browsers.
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

code {
  padding: 1.625rem;

  display: block;

  @media screen and (min-width: 40em) {
    padding: 1.7222222222rem;
  }

}
