@use "../mixins/padding" as padding;
@use "../gutenberg-config";

// Contain overflow in all browsers.
pre {
  overflow: auto;
}

// Address odd `em`-unit font size rendering in all browsers.
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
}

code {
  @include padding.padding-equal(1);

  display: block;

  @media screen and (min-width: #{ gutenberg-config.$max-width + 5 + 'em'}) {
    @include padding.padding-equal(1);
  }

}
