@use "../gutenberg-config";
@use "../mixins/line-height" as line-height;
@use "../mixins/margin" as margin;
@use "../mixins/padding" as padding;
@use "../mixins/font-size" as font-size;

figcaption {
  @include line-height.line-height(1);
  color: gutenberg-config.$color-font-figcaption;
  display: block;
  font-size: .8125rem;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;

  @media screen and (min-width: #{ gutenberg-config.$max-width + 5 + 'em'}) {
    @include line-height.line-height(1);
    margin-bottom: 0;
  }

}

figure {
  display: block;
}

figure.floatLeft,
figure.floatRight {

  @media screen and (min-width: #{ gutenberg-config.$max-width + 5 + 'em'}) {
    max-width: #{.5 * gutenberg-config.$max-width * gutenberg-config.$base-desktop + 'px'};
    max-width: #{.5 * gutenberg-config.$max-width + 'rem'};

    @if gutenberg-config.$paragraph-indent == true {
      @include padding.padding-equal(1);
      @include margin.margin-bottom(0);
    } @else {
      @include padding.padding(0, 1);
    }

  }

  blockquote {

    @media screen and (min-width: #{ gutenberg-config.$max-width + 5 + 'em'}) {
      @include padding.padding-equal(0);
      text-align: left;

      @if gutenberg-config.$paragraph-indent == true {
        @include margin.margin-top(1);
      }

    }

    p {

      @media screen and (min-width: #{ gutenberg-config.$max-width + 5 + 'em'}) {
        @include font-size.font-size(1.2);
        @include line-height.line-height(1);
      }

    }

  }

}
