@use "../gutenberg-config";

figcaption {
  line-height: 1.625rem;
  color: gutenberg-config.$color-font-figcaption;
  display: block;
  font-size: .8125rem;
  font-style: italic;
  margin-bottom: 0;
  text-align: center;

  @media screen and (min-width: 40em) {
    line-height: 1.7222222222rem;
    margin-bottom: 0;
  }

}

figure {
  display: block;
}

figure.floatLeft,
figure.floatRight {

  @media screen and (min-width: 40em) {
    max-width: 17.5rem;

    @if gutenberg-config.$paragraph-indent == true {
      padding: 1.625rem;
      margin-bottom: 0;
    } @else {
      padding: 0 1.625rem;
    }

  }

  blockquote {

    @media screen and (min-width: 40em) {
      padding: 0;
      text-align: left;

      @if gutenberg-config.$paragraph-indent == true {
        margin-top: 1.625rem;
      }

    }

    p {

      @media screen and (min-width: 40em) {
        font-size: 1.2rem;
        line-height: 1.625rem;
      }

    }

  }

}
