@use "../gutenberg-config";

// Horizontal rule
$hr-style: line; // [ line / type ]
$hr-type-content: '***'; // [ '***' ]
$hr-type-char-spacing: .2em; // [ .2em ]
$hr-margin: 2;
$hr-margin-desktop: $hr-margin;
$hr-color: gutenberg-config.$color-font-body;
$hr-width: 100; // [ 100 ] — In pixels, only for line style
$hr-height: 4; // [ 2 ] — In pixels, only for line style

hr {
  margin-top: 3.25rem;
  margin-bottom: 3.25rem;

  box-sizing: content-box;
  border: 0;
  color: $hr-color;
  display: block;
  height: 1.625rem;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 40em) {
    margin-top: 3.444444444444445rem;
    margin-bottom: 3.444444444444445rem;
    height: 1.7222222222rem;
  }

  @if $hr-style == 'line' {
    background-size: 100% 1.625rem;
    background-image: linear-gradient(to bottom, transparent 1px, transparent #{ 0.5 * 26 - (0.5 * $hr-height) + 'px'},  $hr-color #{ 0.5 * 26 - (0.5 * $hr-height) + 'px'}, $hr-color #{ (0.5 * 26  - (0.5 * $hr-height)) + $hr-height + 'px'}, transparent #{ (0.5 * 26  - (0.5 * $hr-height)) + $hr-height + 'px'}, transparent 26px);

    @if $hr-width == null {
      width: 100%;
    } @else {
      width: #{$hr-width + 'px'};
    }
  }

  @media screen and (min-width: 40em) {
    @if $hr-style == 'line' {
      background-size: 100% 1.7222222222rem;
      background-image: linear-gradient(to bottom, transparent 1px, transparent #{ .5 * 31 - (.5 * $hr-height) + 'px'}, $hr-color #{ .5 * 31 - (.5 * $hr-height) + 'px'}, $hr-color #{ (.5 * 31 - (.5 * $hr-height)) + $hr-height + 'px'}, transparent #{ (.5 * 31 - (.5 * $hr-height)) + $hr-height + 'px'}, transparent 31px);
    }

  }

  @if $hr-style == 'type' {
    text-align: center;

    &:before {
      content: $hr-type-content;
      letter-spacing: $hr-type-char-spacing;
    }
  }
}
