@use "../gutenberg-config";

// Clear margin for line breaks
br {
  margin-bottom: 0;
}
// Enable small caps if available & fix letter spacing
abbr {
  letter-spacing: 0.1em;
}

// Address styling not present in IE 8/9/10/11, Safari, and Chrome.
abbr[title] {
  border-bottom: 1px dotted;
}

// Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
b,
strong {
  font-weight: bold;
}

// Address styling not present in Safari and Chrome.
dfn {
  font-style: italic;
}

// Prevent `em` and `i` affecting `line-height` in all browsers.
em,
i {
  line-height: 0;
  vertical-align: baseline;
}

// Address styling not present in IE 8/9.
mark {
  background: #ff0;
  color: #000;
}

small {
  line-height: .8125rem;

  font-size: 70%;

  @media screen and (min-width: 40em) {
    line-height: .8611111111rem;
  }

}

// Prevent `sub` and `sup` affecting `line-height` in all browsers.
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Paragraph
========================================================================== */

@if gutenberg-config.$paragraph-indent == true {

  p + p {
    margin-top: -1.625rem;
    text-indent: 1.625rem;

  }

  .floatLeft + p,
  .floatRight + p {

    @media screen and (min-width: 40em) {
      text-indent: 1.7222222222rem;
    }

  }

  .attention-grabber + p {
    margin-top: 0;
    text-indent: 0;
  }
}

// Attention grabber
.attention-grabber {
  font-size: 1.2rem;
}

  @media screen and (min-width: 40em) {
  @if gutenberg-config.$paragraph-indent == true {

    p + p,
    .floatLeft + p,
    .floatRight + p {
      margin-top: -1.7222222222rem;
    }

  }

}

// Text Alignment
.alignLeft {
  text-align: left;
}

.alignCenter {
  text-align: center;
}

.alignRight {
  text-align: right;
}

// Fix letter spacing for uppercase
.uppercase {
  letter-spacing: .1em;
  text-transform: uppercase;
}
