@use "../gutenberg-config";

// padding
@mixin padding($top, $right, $bottom:null, $left:null) {
  @if $left == null and $bottom == null {
    padding: #{ $top * gutenberg-config.$leading + 'px'} #{ $right * gutenberg-config.$leading + 'px'};
    padding: #{ $top * gutenberg-config.$leading-rem + 'rem'} #{ $right * gutenberg-config.$leading-rem + 'rem'};
  } @else if $left == null or $left == $right {
    padding: #{ $top * gutenberg-config.$leading + 'px'} #{ $right * gutenberg-config.$leading + 'px'} #{ $bottom * gutenberg-config.$leading + 'px'};
    padding: #{ $top * gutenberg-config.$leading-rem + 'rem'} #{ $right * gutenberg-config.$leading-rem + 'rem'} #{ $bottom * gutenberg-config.$leading-rem + 'rem'};
  } @else {
    padding: #{ $top * gutenberg-config.$leading + 'px'} #{ $right * gutenberg-config.$leading + 'px'} #{ $bottom * gutenberg-config.$leading + 'px'} #{ $left * gutenberg-config.$leading + 'px'};
    padding: #{ $top * gutenberg-config.$leading-rem + 'rem'} #{ $right * gutenberg-config.$leading-rem + 'rem'} #{ $bottom * gutenberg-config.$leading-rem + 'rem'} #{ $left * gutenberg-config.$leading-rem + 'rem'};
  }

  // padding-top: #{ $top * gutenberg-config.$leading + 'px'};
 //    padding-top: #{ $top * gutenberg-config.$leading-rem + 'rem'};
 //    padding-right: #{ $right * gutenberg-config.$leading + 'px'};
 //    padding-right: #{ $right * gutenberg-config.$leading-rem + 'rem'};
  // padding-bottom: #{ $bottom * gutenberg-config.$leading + 'px'};
 //    padding-bottom: #{ $bottom * gutenberg-config.$leading-rem + 'rem'};
 //    padding-left: #{ $left * gutenberg-config.$leading + 'px'};
 //    padding-left: #{ $left * gutenberg-config.$leading-rem + 'rem'};
}

@mixin padding-equal($number) {
  padding: #{ $number * gutenberg-config.$leading + 'px'};
  padding: #{ $number * gutenberg-config.$leading-rem + 'rem'};
}
